@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #333;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 10px;
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons a i {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.social-icons a i.fab {
  color: #fff;
}

.social-icons a i.fab.fa-linkedin {
  background-color: #0077B5;
}

.social-icons a i.fab.fa-spotify {
  background-color: #1DB954;
}

.social-icons a i.fab.fa-xbox {
  background-color: #107C10;
}

.social-icons a i.fab.fa-reddit {
  background-color: #FF4500;
}

.social-icons a i.fab.fa-instagram {
  background-image: linear-gradient(to right, #833AB4, #C13584, #E1306C, #FD1D1D, #F77737, #FCAF45, #FFDC80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.social-icons a i.fab:hover {
  opacity: 0.8;
}
